#app {
    display: grid;
    grid-template-columns: 38.79% 62.21%;
    /* Calculo  (820 * 100) / 1220 = 67.21  */
    /*  67.21 de um lado e 32.79 do outro */
    height: 100vh;
    overflow: hidden;
}

main {
    overflow: hidden;
}

aside {
    overflow: auto;
    padding: 5rem;
}